<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poryecto psicologos</title>
    <!--SEO-->
    <meta name="author" contento="Proyectos">
    <meta name="copyright" contento="&copy; Grupo de proyectos 2020. Todos los derechos reservados">
    <meta name="email" content="admin@url.com">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Proyecto con chatbot para el curso de proyectos II 2020">
    <meta name="keywords" content="psicologia, chatbot">
    <!--Resposividad-->
    <meta name="viewport" content="with=device, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--Social cards-->
    <meta property="og:url" content="link.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Web proyecto de psicologia">
    <meta property="og:description" content="Proyecto con chat para el area de psicologia">
    <meta property="og:image" content="urlImg">

	<!-- Bootstrap 4 CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- Estilos -->
	<link rel="stylesheet" href="css/mains.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon/favicon.ico?v=2" type="image/x-icon">
	<link rel="icon" href="favicon/favicon.ico?v=2" type="image/x-icon">

	<!-- Slider Slippry -->
	<link rel="stylesheet" href="css/slippry.css">

	<!-- Font Awesome CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	




</head>
<body>
    <!--Navegacion-->
    <nav id="nav">
        <div class="container-fluid">
            <div class="row">
                <!--Logotipo-->
                <div class="col-xl-2">
                    <a href="#" class="logo">
                        <img src="images/logo.svg" alt="image/x-icon">
                    </a>
                </div>
                <!--Links de navegacion-->
                <div class="col-xl-10">
                    <ul>
                        <li class="link-active"><a href="index.html">Inicio</a></li>
                        <li><a href="index.html#nosotros">Nosotros</a></li>
                        <li><a href="psicologos.html">Psicólogos</a></li>
                        <li><a href="preguntas.html">Preguntas frecuentes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--ends Navegacion-->

    <!--Slider-->
    <section id="slider">
        <ul id="slippry">
            <!--<li><img src="https://via.placeholder.com/2000x800" alt=""></li>-->
            <li>
                <h3 class="left top_250">¿BUSCAS AYUDA?</h3>
                <!--<p class="left top_300 white_bg">Empresa de psicologia encargada.</p>-->
                <button class="left top_300 black" onclick="location.href='registro.html'">Comienza Ahora</button>
                <img src="images/slide_01.jpg" alt=""></li>

        </ul>

    </section>
    <!--ends Slider-->

<!-- navegación -->


    <!--area de nosotros-->

	<div class="pad_200" id="nosotros">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="center main-title">Nosotros</h1>
					<h3 class="center">Comprometidos con tu <strong>vida</strong></h3>
				</div>
			</div>
			<br><br><br>
			<div class="row">
				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Mision" class="rounded-circle servicio-img">
					<h2>Misión</h2>
					<p>Convertirnos en una plataforma líder con psicólogos online para ofrecer un servicio profesional y de calidad.</p>
					
				</div>

				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Vision" class="rounded-circle servicio-img">
					<h2>Visión</h2>
					<p>Ofrecer tratamientos psicologicos online profesional, con las mismas garantias y la misma calidad que ofrece la intervencion presencial y con todas las ventajas de comodidad y accsesibilidad que ofrece internet.</p>
					
				</div>

				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Valores" class="rounded-circle servicio-img">
					<h2>Valores</h2>
					<p>Profesionalidad.</p>
					<p>Calidad.</p>
					<p>Disponibilidad.</p>
					<p>Innovación.</p>
					
				</div>
			</div>

		</div>
	</div>
    <!--ends area nosotros-->

    <!--terminos-->
    <div class="pad_200">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="center main-title">Terminos y Politicas</h1>
				</div>
			</div>
			<br><br><br>
			<div class="row">
				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Terminos y condiciones" class="rounded-circle servicio-img">
					<h2>Terminos y condiciones</h2>
					<p>Los presentes terminos y condiciones, regulan el acceso de usted como usuario en la pagina, la facilitacion de la comunicacion electronica con profesionales de la salud mental, orientaciones y/o asesoria en linea. Las orientaciones y/o asesorias en linea se llevan a cabo con horario de acuerdo a su disponibilidad y la del profesional y tienen un costo de acuerdo a las sesiones.</p>
					
				</div>

				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Politicas" class="rounded-circle servicio-img">
					<h2>Politicas</h2>
                    <p>Las consultorias y/o asesorias en materia de salud emntal, son controladas por su psicólogo de preferencia.</p>
                    <p>Las sesiones pueden cancelarse hasta 4 horas de anticipacion de forma que se pueda reprogramar</p>
					
				</div>


			</div>

		</div>
	</div>
    <!--end terminos-->

    	<!-- área de psicologos -->
	<div class="pad_200" >
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="center main-title">¿Eres psicólogo?</h1>
				</div>
			</div>
			<br><br><br>
			<div class="row">
				<div class="d-flex align-items-center">
					<div class="col-xl-6">
						<div class="diamante rounded-circle">
							<!-- Imágen de fondo -->
						</div>
					</div>
					<div class="col-xl-6">
						<h3><strong>Únete ahora!</strong> </h3>
						<p>Registrate con nosotro tendras acceso a todos tus clientes con un usuario y contraseña donde podras monitorear sus actividades </p>
						<button onclick="location.href='registro.html'">Ingresa Aqui</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ends... -->
    <!--footer-->
    <footer>

	</footer>
    <!--ends footer-->






	<!-- Bootstrap 4 JS CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="js/slippry.min.js"></script>

	<!-- Activación y scripts -->
	<script>
	$(document).ready(function(){

		/**
		Activando Slippry
		**/
		$("#slippry").slippry({
			captions : false,
			pager : false
		});

		/**
		Detectar el ancho del diamante, y poner el mismo valor en HEIGHT
		**/
		var dn_width = $('.diamante').width();
		$(".diamante").css({
			height : dn_width
		});

		/**
		Agregamos la clase  al hacer scroll a la barra de navegación, después de llegar al contenedor de nosotros.
		**/
		var slider = $("#slider").height();
		$(window).scroll(function(){
			var scroll = $(window).scrollTop();
			if (scroll >= $("#nosotros").offset().top -300 )  {
				$('#nav').addClass("nav-overlay");
			} else {
				$('#nav').removeClass("nav-overlay");
			}
		});
		$(window).scroll();



	});
	</script>
</body>
</html>