<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poryecto psicologos</title>
    <!--SEO-->
    <meta name="author" contento="Proyectos">
    <meta name="copyright" contento="&copy; Grupo de proyectos 2020. Todos los derechos reservados">
    <meta name="email" content="admin@url.com">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Proyecto con chatbot para el curso de proyectos II 2020">
    <meta name="keywords" content="psicologia, chatbot">
    <!--Resposividad-->
    <meta name="viewport" content="with=device, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--Social cards-->
    <meta property="og:url" content="link.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Web proyecto de psicologia">
    <meta property="og:description" content="Proyecto con chat para el area de psicologia">
    <meta property="og:image" content="urlImg">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--Estilos-->
    <link rel="stylesheet" href="css/main.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon/favicon.ico" type="image/x-icon">

    <!--Slider Slippry-->
    <link rel="stylesheet" href="css/slippry.css">


</head>
<body>
    <!--Navegacion-->
    <nav id="nav">
        <div class="container-fluid">
            <div class="row">
                <!--Logotipo-->
                <div class="col-xl-2">
                    <a href="#" class="logo">
                        <img src="images/logo.svg" alt="image/x-icon">
                    </a>
                </div>
                <!--Links de navegacion-->
                <div class="col-xl-10">
                    <ul>
                        <li class="link-active"><a href="index.html">Inicio</a></li>
                        <li><a href="index.html#nosotros">Nosotros</a></li>
                        <li><a href="psicologos.html">Psicólogos</a></li>
                        <li><a href="preguntas.html">Preguntas frecuentes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--ends Navegacion-->

    <!--Slider-->
    <section id="slider">
        <ul id="slippry">
            <!--<li><img src="https://via.placeholder.com/2000x800" alt=""></li>-->
            <li>
                <h3 class="left top_250">¿BUSCAS AYUDA?</h3>
                <!--<p class="left top_300 white_bg">Empresa de psicologia encargada.</p>-->
                <button class="left top_300 black">Comienza Ahora</button>
                <img src="images/slide_01.jpg" alt=""></li>

        </ul>

    </section>
    <!--ends Slider-->

    <!--area de nosotros-->
    <!--ends arede nosotros-->

    <!--area de servicios-->
    <!--ends area servicios-->

    <!--footer-->
    <!--ends footer-->




    <!-- Boostrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="js/slippry.min.js"></script>

    <!--Activacion y scripts-->
    <script>
        $(document).ready(function(){
            /**Activando slippry**/
            $("#slippry").slippry({
                captions: false,
                pager: false
            });

        });
    </script>
</body>
</html>