<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto psicologos</title>
    <!--SEO-->
    <meta name="author" contento="Proyectos">
    <meta name="copyright" contento="&copy; Grupo de proyectos 2020. Todos los derechos reservados">
    <meta name="email" content="admin@url.com">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Proyecto con chatbot para el curso de proyectos II 2020">
    <meta name="keywords" content="psicologia, chatbot">
    <!--Resposividad-->
    <meta name="viewport" content="with=device, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--Social cards-->
    <meta property="og:url" content="link.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Web proyecto de psicologia">
    <meta property="og:description" content="Proyecto con chat para el area de psicologia">
    <meta property="og:image" content="urlImg">

	<!-- Bootstrap 4 CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- Estilos -->
	<link rel="stylesheet" href="css/mains.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon/favicon.ico?v=2" type="image/x-icon">
	<link rel="icon" href="favicon/favicon.ico?v=2" type="image/x-icon">

	<!-- Slider Slippry -->
	<link rel="stylesheet" href="css/slippry.css">

	<!-- Font Awesome CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	






	
</head>
<body>
	
	<!-- navegación -->
	<nav id="nav" class="nav-overlay">
		<div class="container-fluid">
			<div class="row">
				<!-- Nuestro logotipo -->
				<div class="col-xl-2">
					<a href="#" class="logo">
						<img src="images/logo.svg" alt="Logo ">
					</a>
				</div>
				<!-- Nuestros links de navegación -->
				<div class="col-xl-10">
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="index.html#nosotros">Nosotros</a></li>
						<li class="link-active"><a href="psicologos.html">Piscólogos</a></li>
						<li ><a href="preguntas.html">Preguntas frecuentes</a></li>
					</ul>
				</div>
			</div>
		</div>		
	</nav>
	<!-- ends navegación -->
	<br><br><br><br><br><br><br>
	<div class="pad_200">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 center">
					<p>asdf</p>
				</div>
			</div>
		</div>
	</div>
    <!--area de psicologos-->

	<div class="pad_200">
		<div class="container">
			<br><br><br>
			<br><br><br>
			<div class="row">
				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Mision" class="rounded-circle servicio-img">
					<h2>Maria Victoria Cano Torres</h2>
					<form>
						<p class="clasificacion">
						  <input id="radio1" type="radio" name="estrellas" value="5"><!--
						  --><label for="radio1">★</label><!--
						  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
						  --><label for="radio2">★</label><!--
						  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
						  --><label for="radio3">★</label><!--
						  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
						  --><label for="radio4">★</label><!--
						  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
						  --><label for="radio5">★</label>
						</p>
					  </form>
					<button>Saber más</button>
					
				</div>

				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Mision" class="rounded-circle servicio-img">
					<h2>Maria Victoria Cano Torres</h2>
					<form>
						<p class="clasificacion">
						  <input id="radio1" type="radio" name="estrellas" value="5"><!--
						  --><label for="radio1">★</label><!--
						  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
						  --><label for="radio2">★</label><!--
						  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
						  --><label for="radio3">★</label><!--
						  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
						  --><label for="radio4">★</label><!--
						  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
						  --><label for="radio5">★</label>
						</p>
					  </form>
					<button>Saber más</button>
					
				</div>
				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Mision" class="rounded-circle servicio-img">
					<h2>Maria Victoria Cano Torres</h2>
					<form>
						<p class="clasificacion">
						  <input id="radio1" type="radio" name="estrellas" value="5"><!--
						  --><label for="radio1">★</label><!--
						  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
						  --><label for="radio2">★</label><!--
						  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
						  --><label for="radio3">★</label><!--
						  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
						  --><label for="radio4">★</label><!--
						  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
						  --><label for="radio5">★</label>
						</p>
					  </form>
					<button>Saber más</button>
					
				</div>
				<div class="col-xl-4 center">
					<img src="https://via.placeholder.com/1000" alt="Mision" class="rounded-circle servicio-img">
					<h2>Maria Victoria Cano Torres</h2>
					<form>
						<p class="clasificacion">
						  <input id="radio1" type="radio" name="estrellas" value="5"><!--
						  --><label for="radio1">★</label><!--
						  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
						  --><label for="radio2">★</label><!--
						  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
						  --><label for="radio3">★</label><!--
						  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
						  --><label for="radio4">★</label><!--
						  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
						  --><label for="radio5">★</label>
						</p>
					  </form>
					<button>Saber más</button>
					
				</div>


		</div>
	</div>
    <!--ends area nosotros-->

	<!-- footer -->

	<!-- ends footer -->






	<!-- Bootstrap 4 JS CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="js/slippry.min.js"></script>
	<script src="js/lightbox.min.js"></script>

	<!-- Activación y scripts -->
	<script>
	$(document).ready(function(){

		/**
		** Lightbox activando
		**/
		lightbox.option({
			'resizeDuration' : 200 ,
			'disableScrolling' : true
		});

		/**
		Detectar el ancho del diamante, y poner el mismo valor en HEIGHT
		**/
		var dn_width = $('.grid-item').width();
		$(".grid-item").css({
			height : dn_width
		});


		/**
		Agregamos la clase  al hacer scroll a la barra de navegación, después de llegar al contenedor de nosotros.
		**/
		$(window).scroll(function(){
			var scroll = $(window).scrollTop();
			if (scroll >= $("#nosotros").offset().top -300 )  {
				$('#nav').addClass("nav-overlay");
			} else {
				$('#nav').removeClass("nav-overlay");
			}
		});
		$(window).scroll();


	});
	</script>
	
</body>
</html>